{{#if siteSettings.tagging_enabled}}
  {{tag-drop firstCategory=firstCategory secondCategory=secondCategory tagId=tagId}}
{{/if}}

{{plugin-outlet name="bread-crumbs-right" connectorTagName="li"}}

<div class='clear'></div>
